body{
    background-image: linear-gradient(white,#3d70d7);
    background-repeat: no-repeat;
    background-size: cover;
    height: 745px;
}

.header .header-left{

}
.header .header-center{
    text-align: center;
    background-color:white;
    border-top-left-radius: 120px;
    border-bottom-right-radius: 120px;
}
.header .header-center h1{
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.3em;
    font-weight: bolder;
}
.header .header-right{

}
.login-box-body{
    
}
.login-box-outer{
    margin-top: 10%;
    background-color: black ; opacity:0.8;
    border-radius: 20px;
    padding:2% 0;
}
.login-container{
    opacity:1;
    color:white;
}
.form-group{
    padding-top: 10px;
}
#register-btn{
    color:white;
    text-decoration: none;
}
#school_logo{
    margin-top: 2%;
    opacity: 0.1;
    width:600px;
    height:600px;
    position: absolute;
    left:0;
}
#our_team_photo{
    margin: 7% 0 0 0;
    opacity: 0.7;
    width:650px;
    height: 400px;
    position: absolute;
    right:0;
}
@media(max-width: 600px) { 
    .our_team_photo{ 
      display: none; 
    }
}
@media(max-width: 600px) { 
    .school_logo{ 
      display: none; 
    }
}
@media(max-width: 600px) { 
    .login-box-body { 
    margin-top: 30%;
    }
}


#header{
    width:100%;
}
a{
    color:white;
}
label{
    font-size: 15px;
}
h5{
    font-size:13px;
    font-weight: lighter;
}

.registration-box-outer{
    margin-top: 10%;
    background-color: black ; opacity:0.7;
    border-radius: 20px;
    padding:2% 0;
}

.registration-field{
    padding-top: 10px;
}